<section class="section section-about section-light">
  <div class="container">
    <div class="about-wrapper">
      <ul class="about-img-list">
        <li class="about-img-item">
          <img
            src="./img/about/barber-1.jpg"
            alt="barber is haircutting"
            width="270"
            height="445"
          />
        </li>
        <li class="about-img-item">
          <img
            src="./img/about/barber-2.jpg"
            alt="barber is shaving"
            width="270"
            height="445"
          />
        </li>
      </ul>
      <div class="about-text-wrapper">
        <p class="text-top">about</p>
        <h2 class="title-second">Best Barbershop in your city</h2>
        <p class="text-bottom">
          If you want to add more confidence to your image, you should
          definitely visit us.
        </p>
        <p class="text about-text">
          We are a team that never stops at what has been achieved and are
          thirsty for changes. And when you fall into the hands of our master,
          you will never be the same again. We are a team that is always "on the
          same wave" with clients. Therefore, we are always ready to improve
          everyone who comes to us!
        </p>
        <button type="button" class="about-button button">
          Online-Booking
        </button>
      </div>
    </div>
  </div>
</section>
