<section class="section section-barbers section-light">
  <div class="container">
    <p class="text-top">For true enjoyers of the atmosphere</p>
    <h2 class="title-second" data-aos="fade-right">Our barbers</h2>
    <ul class="barbers-list">
      <li class="barbers-item">
        <img
          class="barbers-img"
          src="../img/barbers/john-smith.jpg"
          src="http://dummyimage.com/370x346/303030"
          alt="John Smith"
          width="370"
          height="346"
        />
        <h3 class="barbers-name-title">John Smith</h3>
        <p class="barbers-text">Extreme Barber</p>
        <ul class="barbers-icons-list">
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="barbers-item">
        <img
          class="barbers-img"
          src="../img/barbers/michele-doe.jpg"
          src="http://dummyimage.com/370x346/303030"
          alt="Michele Doe"
          width="370"
          height="346"
        />
        <h3 class="barbers-name-title">Michele Doe</h3>
        <p class="barbers-text">Extreme Barber</p>
        <ul class="barbers-icons-list">
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="barbers-item">
        <img
          class="barbers-img"
          src="../img/barbers/alan-black.jpg"
          src="http://dummyimage.com/370x346/303030"
          alt="Alan Black"
          width="370"
          height="346"
        />
        <h3 class="barbers-name-title">Alan Black</h3>
        <p class="barbers-text">Extreme Barber</p>
        <ul class="barbers-icons-list">
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="barbers-icons-items">
            <a href="" class="barbers-social-link">
              <svg class="barbers-icons-svg" width="20" height="20">
                <use href="../img/icons/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
