<section class="barbers">
  <div class="container">
    <p>For true enjoyers of the atmosphere</p>
    <h2>Our barbers</h2>
    <ul>
      <li>
        <img
          src="./img/barbers/john-smith.jpg"
          alt="John Smith"
          width="370"
          height="346"
        />
        <h3>John Smith</h3>
        <p>Extreme Barber</p>
      </li>
      <li>
        <img
          src="./img/barbers/michele-doe.jpg"
          alt="Michele Doe"
          width="370"
          height="346"
        />
        <h3>Michele Doe</h3>
        <p>Extreme Barber</p>
      </li>
      <li>
        <img
          src="./img/barbers/alan-black.jpg"
          alt="Alan Black"
          width="370"
          height="346"
        />
        <h3>Alan Black</h3>
        <p>Extreme Barber</p>
      </li>
    </ul>
  </div>
</section>
