<section class="contacts">
  <div class="container">
    <h2>Contacts</h2>
    <address>
      <ul>
        <li>
          <a
            href="https://maps.app.goo.gl/J4AojnKFB7NQ9tjQ6"
            target="_blank"
            rel="noopener noreferrer"
          >
            st. Vasilkivska, 7A Kyiv, 08132
          </a>
        </li>
        <li><a href="tel:+38 044 111 11 11">+38 044 111 11 11</a></li>
        <li><a href="mailto:barbershop@email.com">barbershop@email.com</a></li>
      </ul>
    </address>
    <h3>Working hours</h3>
    <p>Every day from 9:00 to 22:00</p>
  </div>
</section>
