<section class="section section-contacts">
  <div class="container">
    <div class="contacts-wrapper">
      <div class="contacts-booking">
        <h2 class="title-second">Online-booking</h2>
        <form action=""></form>
        <button type="submit" class="button">Send</button>
      </div>
      <div class="contacts-text-wrapper">
        <h2 class="title-second">Contacts</h2>
        <address class="text-bottom">
          <ul class="contacts-list">
            <li class="contacts-item">
              <a
                class="contacts-link-address"
                href="https://maps.app.goo.gl/J4AojnKFB7NQ9tjQ6"
                target="_blank"
                rel="noopener noreferrer"
              >
                st. Vasilkivska, 7A Kyiv, 08132
              </a>
            </li>
            <li class="contacts-item">
              <a class="contacts-link-tel" href="tel:+38 044 111 11 11"
                >+38 044 111 11 11</a
              >
            </li>
            <li class="contacts-item">
              <a
                class="contacts-link-email"
                href="mailto:barbershop@email.com"
                class="email"
                >barbershop@email.com</a
              >
            </li>
          </ul>
        </address>
        <h3 class="contacts-third-title">Working hours</h3>
        <p class="text-bottom">Every day from 9:00 to 22:00</p>
      </div>
    </div>
  </div>
</section>

<!-- <div class="contact-wrap">
  <div class="container">
    <section class="online">
      <h2 class="online-title title">Online-booking</h2>
    </section>
    <section class="contacts">
      <h2 class="contacts-title title">Contacts</h2>
      <address class="contacts-address">
        <ul class="contacts-list list">
          <li class="contacts-item">
            <a
              class="contacts-link bold link"
              href="https://goo.gl/maps/ytF1UNt15VfvuMmM8"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >st. Vasilkivska, 7A <br />
              Kyiv, 08132</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link link" href="tel:+380441111111"
              >+38 044 111 11 11</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link" href="mailto:barbershop@email.com"
              >barbershop@email.com</a
            >
          </li>
        </ul>
      </address>
      <p class="contacts-subtitle">Working hours</p>
      <p class="contacts-schedule">Every day from 9:00 to 22:00</p>
    </section>
  </div>
</div> -->
