<!-- <section class="section section-contacts">
  <div class="container">
    <div class="contacts-wrapper">
      <div class="contacts-booking">
        <h2 class="title-second">Online-booking</h2>
        <form action=""></form>
        <button type="submit" class="button">Send</button>
      </div>
      <div class="contacts-text-wrapper">
        <h2 class="title-second">Contacts</h2>
        <address class="text-bottom">
          <ul class="contacts-list">
            <li class="contacts-item">
              <a
                class="contacts-link-address"
                href="https://maps.app.goo.gl/J4AojnKFB7NQ9tjQ6"
                target="_blank"
                rel="noopener noreferrer"
              >
                st. Vasilkivska, 7A Kyiv, 08132
              </a>
            </li>
            <li class="contacts-item">
              <a class="contacts-link-tel" href="tel:+38 044 111 11 11"
                >+38 044 111 11 11</a
              >
            </li>
            <li class="contacts-item">
              <a
                class="contacts-link-email"
                href="mailto:barbershop@email.com"
                class="email"
                >barbershop@email.com</a
              >
            </li>
          </ul>
        </address>
        <h3 class="contacts-third-title">Working hours</h3>
        <p class="text-bottom">Every day from 9:00 to 22:00</p>
      </div>
    </div>
  </div>
</section> -->
<div class="booking-contacts-wrapper">
  <div class="container">
    <section class="section-booking">
      <div class="contacts-booking booking-wrapper">
        <h2 class="title-second">Online-booking</h2>
        <form action=""></form>
        <button type="submit" class="button">Send</button>
      </div>
    </section>
    <section class="section-contacts">
      <div class="contacts-text-wrapper">
        <h2 class="title-second">Contacts</h2>
        <address class="text-bottom">
          <ul class="contacts-list">
            <li class="contacts-item">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./img/icons/sprite.svg#map-pin"></use>
              </svg>
              <a
                class="contacts-link-address"
                href="https://maps.app.goo.gl/J4AojnKFB7NQ9tjQ6"
                target="_blank"
                rel="noopener noreferrer"
              >
                st. Vasilkivska, 7A Kyiv, 08132
              </a>
            </li>
            <li class="contacts-item">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./img/icons/sprite.svg#phone"></use>
              </svg>
              <a class="contacts-link-tel" href="tel:+38 044 111 11 11"
                >+38 044 111 11 11</a
              >
            </li>
            <li class="contacts-item">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./img/icons/sprite.svg#mail"></use>
              </svg>
              <a
                class="contacts-link-email"
                href="mailto:barbershop@email.com"
                class="email"
                >barbershop@email.com</a
              >
            </li>
          </ul>
        </address>
        <h3 class="contacts-third-title">Working hours</h3>
        <p class="text-bottom">Every day from 9:00 to 22:00</p>
      </div>
    </section>
  </div>
</div>
