<section class="section section-gallery section-light">
  <div class="container">
    <p class="text-top">In Latin, "barba" means "beard"</p>
    <h2 class="visually-hidden">What do the barbers</h2>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          src="./img/gallery/haircutting.jpg"
          alt="the barber is cutting the client's hair"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery-item">
        <img
          src="./img/gallery/shaving.jpg"
          alt="the barber is shaving the client"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery-item">
        <img
          src="./img/gallery/facial-care.jpg"
          alt="the barber is giving the client a treatment "
          width="270"
          height="360"
        />
      </li>
      <li class="gallery-item">
        <img
          src="./img/gallery/personal-service.jpg"
          alt="the barber is shaving the client"
          width="270"
          height="360"
        />
      </li>
    </ul>
  </div>
</section>
