<section class="section section-gallery">
    <div class="container">
        <p>In Latin, "barba" means "beard"</p>
        <ul><li><img src="./img/gallery/haircutting.jpg" alt="the barber is cutting the client's hair"></li>
        <li><img src="./img/gallery/shaving.jpg" alt="the barber is shaving the client"></li>
        <li><img src="./img/gallery/facial-care.jpg" alt="the barber is giving the client a treatment "></li>
        <li><img src="./img/gallery/personal-service.jpg" alt="the barber is shaving the client"></li></ul>
    </div>
</section>