<header class="header">
  <div class="container">
    <nav class="nav">
      <a>
        <img
          src="./img/logo.svg"
          alt="logo"
          width="68"
          height="55"
          class="nav-logo"
        />
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services and prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#barbers">Barbers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-link">
      <a href="tel.+380441111111" class="header-tel">+380441111111</a>
      <a href="" class="header-button button">Online-Booking</a>
    </div>
  </div>
</header>
