<section class="section section-hero">
  <div class="container">
    <div class="hero-wrapper">
      <ul class="hero-list">
        <li class="hero-item">
          <a
            href=""
            class="hero-link social-network social-network-instagram"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li class="hero-item">
          <a
            href=""
            class="hero-link social-network"
            target="_blank"
            rel="noopener noreferrer"
            >Youtube</a
          >
        </li>
      </ul>

      <div class="hero-dark-wrapper hero-background">
        <p class="text-top">A hair salon for men in Kyiv</p>
        <h1
          class="hero-title animate__animated animate__slideInLeft animate__slower"
        >
          BarberShop
        </h1>
        <p class="text-bottom">
          We are experts in trendy men’s haircuts. We work quickly, carefully
          and with style.
        </p>
      </div>
    </div>
  </div>
</section>
