<section class="section section-services">
  <div class="container">
    <p class="text-top dark">Spend your time with the best masters</p>
    <h2 class="title-second services-title dark">Services and prices</h2>
    <div class="services-table-wrapper">
      <table class="text-bottom services-table dark">
        <tr class="services-table-row">
          <td class="services-tabdate">Men’s haircut</td>
          <td class="prices-tabdate">from 300 uah.</td>
        </tr>
        <tr class="services-table-row">
          <td class="services-tabdate">Beard trim</td>
          <td class="prices-tabdate">from 300 uah.</td>
        </tr>
        <tr class="services-table-row">
          <td class="services-tabdate">Mustache trim</td>
          <td class="prices-tabdate">from 200 uah.</td>
        </tr>
        <tr class="services-table-row">
          <td class="services-tabdate">Straight razor shave</td>
          <td class="prices-tabdate">from 200 uah.</td>
        </tr>
      </table>
      <table class="text-bottom services-table dark">
        <tr>
          <td>Trainee’s haircut</td>
          <td>from 50 uah.</td>
        </tr>
        <tr>
          <td>Haircut under the nozzle</td>
          <td>from 200 uah.</td>
        </tr>
        <tr>
          <td>Children’s haircut (0-12 y.o.)</td>
          <td>from 300 uah.</td>
        </tr>
        <tr>
          <td>Camouflage of gray hair</td>
          <td>from 200 uah.</td>
        </tr>
      </table>
    </div>
    <button type="button" class="services-button button">Online-Booking</button>
  </div>
</section>
