.section-barbers {
  padding: 120px 0;
  background-color: var(--color-background-grey);
}
.barbers-name-title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: var(--secondary-color);
}
.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 2 * 30) / 3);
}
.barbers-text {
  /* font-weight: 400; */
  font-size: 14px;
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: var(--hover-color);
}
