:root {
  --primary-color: #ffffff;
  --secondary-color: #303030;
  --hover-color: #ff6c00;
  --text-color: #555;
  --color-text-top: rgba(157, 164, 189, 0.6);
  --color-line: rgba(157, 164, 189, 0.4);
  --color-text-bottom: #9da4bd;
  --color-background-grey: #f7f7f7;
  --color-background-booking: #191c26;
  --color-background-services: #111319;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-family: 'Open Sans', sans-serif;
  --font-family-title: 'Raleway', sans-serif;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  /* line-height: 1.5; */
  /* background-color: var(--primary-color); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* це робить modern-normolize */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  color: var(--primary-color);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
/* class */
.section {
  min-width: 1600px;
  /* max-width: 1600px; */
  outline: 1px solid rgb(11, 247, 11);
}
.text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--color-text-top);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.text-top::before {
  width: 60px;
  height: 1px;
  background-color: var(--color-text-top);
  content: '';
}
.text-bottom {
  /* font-weight: 400; */
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-text-bottom);
  margin-bottom: 20px;
}
.text {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--hover-color);
  border-radius: 25px;

  transition: background-color 500ms ease-in, color 500ms ease-in;
}
.button:hover,
.button:focus {
  color: var(--primary-color);
  background-color: var(--hover-color);
}
.title-second {
  /* color: #303030; */

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* .light .text-top {
  color: var(--secondary-color);
}
.light .title-second {
  color: var(--secondary-color);
}
.light .text-bottom {
  color: var(--text-color);
} */

.section-light {
  background-color: var(--primary-color);

  & .text-top {
    color: var(--secondary-color);
  }
  & .text-top::before {
    background-color: var(--secondary-color);
  }
  & .title-second {
    color: var(--secondary-color);
  }
  & .text-bottom {
    color: var(--text-color);
  }
}
.social-network {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-color);

  transition: color 500ms ease-out;
}
.social-network:hover,
.social-network:focus {
  color: var(--hover-color);
}
/* стилі які ховають візуально, але не від скрінрідера */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
