:root {
  --primary-color: #ffffff;
  --secondary-color: #303030;
  --hover-color: #ff6c00;
  --text-color: #555;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-family: 'Open Sans', sans-serif;
  --second-family: 'Raleway', sans-serif;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  color: var(--secondary-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
