.section-contacts {
  padding: 130px 0 105px 0;
  background-color: var(--secondary-color);
}
.contacts-wrapper {
  display: flex;
  gap: 130px;
}
.section-contacts .title-second {
  margin-bottom: 40px;
}
.contacts-booking {
  width: 570px;
  height: 352px;
  /* display: none; */
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 70px;
}
.contacts-link-address {
  font-weight: 700;
}
.contacts-third-title {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.email {
  text-decoration: underline;
}
