.section-footer {
  padding: 62px 0 56px 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-list {
  display: flex;
  gap: 40px;
  align-items: end;
}
.footer-instagram {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-instagram::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--color-text-bottom);
}
