.section-gallery {
  padding: 120px 0;
}

.section-gallery .text-top {
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.gallery-item {
  width: calc((100% - 3 * 30) / 4);
}
