/* .container {
}
.hero-list {
}
.hero-item {
} */
/* .hero-item:hover,
.hero-item:focus {
  color: var(--hover-color);
} */

/* .hero-link {
} */
/* .hero .text-top {
  color: rgba(157, 164, 189, 0.6);
} */
.hero-wrapper {
  display: flex;
}

.hero-list {
  display: flex;
  width: 100px;
  flex-direction: column-reverse;
  gap: 40px;
  align-items: center;
  padding-bottom: 40px;
}

.hero-item {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding-right: 28px;
  padding-left: 58px;
}

.hero-dark-wrapper {
  background-color: var(--secondary-color);
  width: 100%;
  flex-grow: 1;
  padding: 227px 100px 208px;
}
.hero-background {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url('../img/background/slider-hero3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-hero .text-top::before {
  background: linear-gradient(
    to right,
    var(--color-text-top) 0%,
    var(--color-text-top) 60%,
    transparent 100%
  );
}
.hero-title {
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.section-hero .text-bottom {
  max-width: 360px;
}
